html, body { 
    margin: 0;
    height: 100%;
    background: #0B192C;
    font-family: 'Roboto', sans-serif;  /* 👈 Roboto everywhere */
}

canvas {
    position: absolute;    /* stack canvases */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#chart {
    z-index: 1;        /* bottom canvas */
}

#overlay {
    z-index: 2;        /* top canvas for mouse/rect overlays */
    pointer-events: none; /* allow mouse to pass through to chart if needed */
}
#controls {
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    color: white;
    top: 0;
    left: 0;
    /* padding: 10px; */
    background: #0B192C;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 60px;
}

h2 {
    font-weight: 200;
    display: inline-block;   /* bring back basic box layout */
    padding: 12px 20px;
    margin: 0px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

button {
  all: unset;              /* 🔑 reset all default browser styles */
  display: inline-block;   /* bring back basic box layout */
  padding: 12px 12px;
  cursor: pointer;
  color: white;
  background: transparent;
  font-size: 14px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  transition: background 0.2s ease;
}

button:hover {
  background: #1E2B3E;
}
